<script src="{{ "/assets/js/jquery/jquery.min.js" | relative_url }}"></script>
<script src="{{ "/assets/js/popper.js/umd/popper.min.js" | relative_url }}"></script>
<script src="{{ "/assets/js/bootstrap.min.js" | relative_url }}"></script>
<script src="{{ "/assets/js/jquery/jquery.min.js" | relative_url }}"></script>
<script src="https://mcstatus.iamsel.net/js/mcstatus.js"></script>
<script src="{{ "/assets/js/mcapi-settings.js" | relative_url }}"></script>
<script src="{{ "/assets/js/custom.js" | relative_url }}"></script>
{% seo %}