<!-- Jumbotron -->
<div class="jumbotron jumbotron-fluid" id="jumbotron-home">
    <div class="text-center">
        <h1 class="display-3 text-light" id="jumbotron-big">Welcome to <span class="text-success jumbotron-big-bold">Crew Craft</span></h1>
        <h2 class="text-light">A vanilla, survival multiplayer Minecraft server.</h2>
        <h6 class="text-light mt-3 font-weight-light ccs2-server-status">CCS 2.0: <span class="ccs2-server-online"></span> |
            <span class="ccs2-server-version"></span> |
            <span class="ccs2-server-players"></span>/<span class="ccs2-server-players-max"></span></h6>
        <h6 class="text-light mb-4 font-weight-light ccs-server-status">CCS Legacy: <span class="ccs-server-online"></span> |
            <span class="ccs-server-version"></span> |
            <span class="ccs-server-players"></span>/<span class="ccs-server-players-max"></span></h6>
        <a href="#about-server" type="button" class="btn btn-success btn-lg mr-2 btn-default" style='-webkit-appearance: none!important;'>Learn more</a>
        <a href="/apply" type="button" class="btn btn-outline-success btn-lg btn-default" style='-webkit-appearance: none!important;'>Apply now</a>
    </div>
</div>