<div class="container" id="posts-news">
    {% for post in site.posts %}
    <div class="card bg-secondary p-4 mx-auto my-4 w-md-75">
        <h2><a href="{{ post.url | prepend: site.baseurl }}" class="stretched-link">{{ post.title }}</a></h2>
        <h5>
            <p class="text-light">
            Posted on {{ post.date | date: "%b %-d, %Y" }} | By {{ post.author }} | Tags:
            {% for tag in post.tags %}
                <span class="badge badge-success">{{ tag }}</span>
            {% endfor %}
            </p>
        </h5>

        <p>
            {% if post.summary %}
                {{ post.summary }}
            {% else %}
                {{ post.excerpt }}
            {% endif %}
        </p>
    </div>
    {% endfor %}
</div>
