<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
<head>
    {% include google-analytics.html %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <link rel="stylesheet" href="{{ "/assets/css/custom.css" | relative_url }}">
    <link rel="stylesheet" href="{{ "/assets/css/custom-media-queries.css" | relative_url }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800|Roboto:300,400,700&display=swap" rel="stylesheet">
    {% include head-other.html %}
    {% include favicon-links.html %}
</head>
<body class="bg-dark">
<div id="container">
    <div id="main">
        {% include nav-news.html %}
        {% include jumbotron-news.html %}
        <div class="container text-center text-light">
            <div class="container text-left" id="posts-news">
                <div class="card bg-secondary p-4 mx-auto my-4 w-md-75">
                    <h2>{{ page.title }}</h2>
                    <h5>
                        <p class="text-light">
                            Posted on {{ page.date | date: "%b %-d, %Y" }} | By {{ page.author }} | Tags:
                            {% for tag in page.tags %}
                            <span class="badge badge-success">{{ tag }}</span>
                            {% endfor %}
                        </p>
                    </h5>

                    <p>
                        {{ content }}
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
{% include footer.html %}
{% include cookie.html %}
</body>
</html>